/* MatchPredictions.module.css */
.matchCard {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
  }
  
  .modelTypeFlag {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .basic {
    background-color: #f9f9f9; /* Lighter background for basic */
  }
  
  .advanced {
    background-color: #e0f7fa; /* Standout background for advanced */
  }