team_data/all_h2h_stats.json
team_data/team_ids.json
LinearRegression/data/training_data.csv
LinearRegression/data/test_data.csv
player_database.json
premier_league_fixtures.json
processed_training_data.json
feature_importance.png
feature_correlations.png
predictions.json
config/config.py
LinearRegression/predictions/
future_fixtures.json
data/
predictions/
.env
*.json
football_data.db
football.db
*.csv
*.txt
*.log
*.joblib
sportradar/AI/models/analysis/hybrid_model_importance.png
sportradar/AI/feature_engineering/jobs/competition_id_encoder.joblib
football_data.db-shm
football_data.db-wal
scheduler.log
sportradar/AI/competition_id_encoder_basic.joblib
