.env
*.sqlite
*.csv
*.txt
*.log
*.joblib
*.json
sportradar/AI/models/analysis/hybrid_model_importance.png
sportradar/AI/feature_engineering/jobs/competition_id_encoder.joblib
football_data.db-shm
football_data.db-wal
scheduler.log
sportradar/AI/competition_id_encoder_basic.joblib
venv/
Data/APIfootball/raw/
*.db
*.DS_Store
